@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gothic&family=Poppins:wght@300&display=swap');


.body {
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Poppins', sans-serif;

    background-image: url("https://images4.alphacoders.com/115/1153100.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFFFFF;
}


#seleccionar-monstruo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: rgb(68, 31, 31);
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulo {
    font-size: 36px;
    color: midnightblue;
    font-variant: small-caps;
}

.tarjetas,
.tar-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-monstruos {
    width: 230px;
    height: 180px;
    background: linear-gradient(45deg, black, transparent);
    padding: 10px;
    box-sizing: content-box;
    margin: 10px;
    border-radius: 41px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tarjeta-de-monstruos img {
    width: 230px;
    height: 180px;
    border-radius: 32px;
}

#boton-monstruo {
    width: auto;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(36deg, white, transparent);
    font-variant: small-caps;
    margin-top: 30px;
    border-color: transparent;
}

input {
    display: none;
}

input:checked + label{
    background: linear-gradient(36deg, white, transparent);
    width: 240px;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensajes {
    width: 280px;
    background: linear-gradient(36deg, white, transparent);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    background: linear-gradient(36deg, white, transparent);
    width: auto;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 41px;
    border-color: transparent;
    font-variant: small-caps;
}

.boton-de-ataque {
    background: linear-gradient(36deg, white, transparent);
    width: auto;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 41px;
    border-color: transparent;
    font-variant: small-caps;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador,
#vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador,
ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {

    .tarjetas,
    .tarjetas-ataques {
        flex-direction: column;
    }
}