@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gothic&family=Poppins:wght@300&display=swap');


.body {
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Poppins', sans-serif;
    
    background-image: url("https://images4.alphacoders.com/115/1153100.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFFFFF;
}


#seleccionar-monstruo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: rgb(68, 31, 31);
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulo  {
    font-size: 28px;
    color: red;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-monstruos {
    width: 180px;
    height: 100px;
    background:transparent;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-monstruos img{
width: 74px;
height: 84px;
border-radius: 10px;
}

input {
    display: none;
}